@{
    ViewData["Title"] = "Index";
}

<h2>New Orleans Lodging</h2>
<hr />

<div>
    <p>
        <br />
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="Lodges">Lodges</a> tab fetches parks data from the
        <a href="https://developer.nps.gov/">New Orleans Lodging API </a> and displays the results.
        <br />
        <br />
    </p>

    <p>
        Following learning objectives are fulfilled -
        <ul>
            <li>Connection to REST API using API key.</li>
            <li>Consuming the data from the REST API.</li>
        </ul>
    </p>
</div>